@Model List<Department>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Departments</h2>


    
    <a href="Add" class="btn btn-primary">ADD Department</a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (Department dept in Model)
            {
                <tr>
                    <td>@dept.Id</td>
                    <td>@dept.Name</td>
                   
                    <td>
                        <button class="btn btn-danger" onclick="confirmDelete(@dept.Id)">Delete</button>
                        @Html.ActionLink("Edit", "Edit", new { id = @dept.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = @dept.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Edit Inline", "Edit_Inline", new { id = @dept.Id }, new { @class = "btn btn-success" })




                    </td>





                </tr>
            }
        </tbody>
    </table>


    <script src="~/Scripts/MyScripts/confirmDeleteDept.js"></script>